.card
  .card-header
    %h3= @repository.title.titleize
  .card-body
    .alert.alert-info.alert-dismissable.show.fade{ role: 'alert' }
      %button{ type: 'button', class: 'close', data: { dismiss: 'alert' }, aria: { label: 'Close' } }
        = icon('close')
      %span.fa-stack.fa-lg
        = icon('film', class: 'fa-stack-1x')
        = icon('check', class: 'fa-stack-2x text-success')
      MP4 and OGG are the only available video files type that can be uploaded

    =form_for [@repository, @record], remote:true, html: { multipart: true } do |v|
      .form-row
        .col
          %label.custom-file
            = v.file_field :record_file, class: 'custom-file-input', multiple: true
            %span.custom-file-control
        .col
          = v.submit 'Upload', class: 'btn btn-primary'

    - if @repository.records.present?
      .ui.divided.list
        -@repository.records.all.each do |record|
          = render 'records/record', record: record
