- number_of_members = group.members.count
.row
  .col-md-9
    %ul.nav
      %li.nav-item
        = link_to group_path(group.token),
                  class: "nav-link #{active?('index', 'groups')}" do
          = group.title
      %li.nav-item
        = link_to group_members_path(group.token),
                  class: "nav-link #{active?('members')}" do
          = 'Member'.pluralize(number_of_members)
          %span.badge.badge-info
            = number_of_members

      - unless current_user.student?
        %li.nav-item
          = link_to group_request_path(group.token),
                    class: "nav-link #{active?('show', 'requests')}" do
            Requests

  - unless current_user.student?
    .col-md-3
      .dropdown
        %button.btn.btn-info.dropdown-toggle#settings-menu{ data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } }
          = icon('gear')
          Options
        .dropdown-menu{ aria: { labelledby: 'settings-menu' } }
          = link_to edit_group_path(group), class: 'dropdown-item' do
            = icon('edit')
            Edit Group
          = link_to group_path(group), class: 'dropdown-item text-danger',
                    data: { confirm: "Are you sure you want to delete group #{group.title}?" },
                    method: :delete do
            = icon('trash')
            Delete Group
