.row
  .col-md-6.mx-auto
    .card
      .card-header
        %h2 Login
      .card-body
        = form_tag login_path, method: :post do
          .form-group
            = text_field_tag :email, nil, class: 'form-control', placeholder: 'E-mail', autofocus: true
          .form-group
            = password_field_tag :password, nil, class: 'form-control', placeholder: 'Password'
          .form-check
            %label{ for: 'remember_', class: 'form-check-label' }
              = check_box :remember, nil, class: 'form-check-input'
              Remember Me

          %button{ class: 'btn btn-primary', type: 'submit' }
            Login
            = icon('send')

      .card-footer
        = link_to '#', class: 'btn btn-outline-primary' do
          = icon('question')
          Forgot Password

        %button{ class: 'btn btn-success float-right', data: { target: '#signUpModal', toggle: 'modal' }, type: 'button' }
          = icon('user-circle')
          Sign Up

.modal#signUpModal
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        %h5{ class: 'modal-title' } Sign up as
        %button{ class: 'close', aria: { label: 'Close' }, data: { dismiss: 'modal' } }
          = icon('close')
      .modal-body
        .btn-group.w-100{ role: 'group' }
          = link_to 'Student', new_user_path('student'), class: 'btn btn-warning'
          = link_to 'Instructor', new_user_path('instructor'), class: 'btn btn-info'
