= image_tag avatar_url(current_user.avatar.url), class: "ui image mini middle aligned"
= current_user.fullname
.ui.divider
%h4#my-groups-label My Groups
.ui.list#my-groups
  .item
    = semantic_icon "users"
    .content
      Group 1
  .item
    = semantic_icon "users"
    .content
      Group 2
  .item
    = semantic_icon "users"
    .content
      Group 3
  .item
    = semantic_icon "users"
    .content
      Group 4
