!!!
%html{ lang: 'en' }
  %head
    %meta{ content: 'text/html; charset=UTF-8',
           http: { equiv: 'Content-Type' } }/
    %title Learning Management System
    = stylesheet_link_tag 'application', media: 'all',
                                         data: { turbolinks_track: true }
    = javascript_include_tag 'application',
                             data: { turbolinks_track: true }
    = csrf_meta_tags
  %body
    = render 'shared/header'
    .container-fluid.mt-3
      = flash_messages
      .row
        .col-md-3
          = render 'shared/left_sidebar'
        .col-md-7
          = yield
        .col-md-2
          = render 'shared/right_sidebar'
    = render 'shared/footer'
